<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Colloque 2017{% endblock %}</title>

    {% block stylesheets %}
        {% if app.debug %}
            <link rel="stylesheet" href="{{ asset('bundles/core/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/core/css/font-awesome.css') }}" type="text/css">
        {% else %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
                  type="text/css">
        {% endif %}
    {% endblock %}
</head>

{% block bodytag %}
<body>
{% endblock %}

{% block body %}

{% endblock %}

{% block javascripts %}
    {% if app.debug %}
        <script src="{{ asset('bundles/core/js/jquery-1.11.3.js') }}"></script>
        <script src="{{ asset('bundles/core/js/bootstrap.js') }}"></script>
    {% else %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% endif %}
{% endblock %}

</body>
</html>