<div id="aboutwrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 name">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <img class="img-responsive center-block"
                             src="{{ asset('bundles/core/img/logo-colloque-2017.png') }}"
                             alt="Logo du Colloque 2017">
                        <div class="separator hidden-sm"></div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <h3>TON ESPACE PERSONNEL</h3>
                        <p class="text-left">
                            Accède à ton espace personnel pour préparer au mieux ton colloque.
                        </p>
                        <a href="{{ path('core_moncolloque_home') }}" class="btn btn-lg btn-default">Mon colloque</a>
                    </div>
                </div>
            </div>
            <! --/col-lg-4-->
            <div class="col-md-8 name-desc">
                <h2>PRÉSENTATION DU COLLOQUE ESIEA 2017</h2>
                <div class="name-zig"></div>

                <div class="col-md-6">
                    <p>
                        Le Colloque c'est une semaine de séminaire dans une station de sport d'hiver, alliant
                        interactions entre étudiants de 4ème année et entreprises par le biais d'activités sportives et
                        pédagogiques (conférences, ateliers...).
                    </p>
                    <p>
                        Mais le colloque est avant tout un moment de convivialité avec les représentants des entreprises
                        partenaires de l'école, et donc avec de potentiel futurs employeurs.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        Loin des campus de Paris et Laval, les étudiants de 4ème année pourront profiter d'un cadre
                        bucolique et d'activités dans un village vacances en montagne à quelques minutes de la station
                        de ski du
                        domaine de la Plaine de Joux.</p>
                    <p>
                        L'entraide, le partage de connaissances mais aussi la pratique d'activités en groupe renforcera
                        l'«esprit de promotion» qui reste l’un des objectifs forts de ce séminaire.
                    </p>
                </div>

            </div><!--/col-lg-8-->

        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /aboutwrap -->