<div id="contactwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>CONTACTEZ NOUS !</p>
                <p>
                    Tu as des questions, des idées, des remarques ou juste envie de nous parler ? N'hésite pas à nous
                    contacter, nous te
                    répondrons rapidement.
                </p>
                <br>
                <p>PAR TÉLEPHONE OU PAR MAIL</p>
                <p>
                    <small>
                        <strong><i class="fa fa-phone fa-fw"></i></strong> Charlotte Falempin : +33 (0)6 65 20 53
                        47<br/>
                        <strong><i class="fa fa-phone fa-fw"></i></strong> Hyppolyte Bernard : +33 (0)6 82 51 84 32<br/>
                        <strong><i class="fa fa-envelope fa-fw"></i></strong> hanotaux@et.esiea.fr
                    </small>
                </p>
                <br>
                <p>
                    L'équipe Colloque 2017.
                </p>

            </div>

            <div class="col-lg-6">

            </div>

        </div><!-- /row -->
    </div><!-- /container -->
</div>