<div id="locationwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 name-desc">
                <h2>GUEBRIANT</h2>
                <div class="name-zig"></div>

                <div class="col-md-6">
                    <p>
                        Le Colloque 2017 se déroulera cette année, comme l'année dernière, dans le village de vacances
                        de Guébriant, située à 1307m d'altitude, au coeur des Alpes du Nord.
                    </p>
                    <p>
                        Face au Mont-Blanc, le domaine skiable de Passy comprenant 6 remontées mécaniques, 12 kilomètres
                        de pistes, un parc réservé aux enfants et aux débutants, cette station est un lieu idéal pour
                        nous accueillir.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <strong>Envi de découvrir les locaux ?</strong>
                    </p>
                    <p>
                        Le site internet du village vancances de Guébriant te propose d'explorer les locaux à travers
                        une visite virtuelle en 360°, pour cela, il te suffit de cliquer ci-dessous.
                    </p>
                    <br>
                    <p>
                        <a href="http://villages-vacances.valdemarne.fr/sites/villages-vacances/files/visites/guebriant/index.html"
                           target="_blank"><img src="{{ asset('bundles/core/img/visite-virtuelle.png') }}"
                                                alt="Visite virtuelle, explorez guébriant"
                                                class="img-responsive center-block"></a>
                    </p>
                </div>

            </div><!--/col-lg-8-->
            <div class="col-lg-4 name">
                <a href="http://villages-vacances.valdemarne.fr/" target="_blank"><img
                            class="img-responsive center-block" src="{{ asset('bundles/core/img/logo-guebriant.png') }}"
                            alt="Logo du  Village Vacances du Val de Marne Guébriant"></a>
                <div class="separator"></div>
                <div id="map"></div>
            </div>
            <! --/col-lg-4-->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /Locationwrap -->