{% extends "CoreBundle:MonColloque:layout.html.twig" %}

{% block MonColloque_body %}
    <div class="col-lg-12">
        {% block MonColloque_content %}
            <div class="text-center">
                <h2>CORPS</h2>
            </div>
        {% endblock %}
    </div>
{% endblock %}